[Desktop Entry]
Name=Skype
GenericName=Skype
Comment=Chat over IM.  Supports AIM, Google Talk, Jabber/XMPP, and more
Exec=/usr/bin/chromium --app=https://web.skype.com
Icon=skype
StartupNotify=true
Terminal=false
Type=Application
Categories=Network;InstantMessaging;
