[Desktop Entry]
Name=Telegram
GenericName=Telegram
Comment=Chat over Telegram
Exec=/usr/bin/chromium --app=https://web.telegram.org
Icon=skype
StartupNotify=true
Terminal=false
Type=Application
Categories=Network;InstantMessaging;
